.card {
  margin-bottom: 25px;
}
.userPostImg {
  border-radius: 15px;
  width: 48px;
  height: 48px;
  float: left;
  margin-right: 7px;
}
.postTitle {
  font-size: 24px;
}
.postTitle:hover {
  color: rgb(0, 139, 213);
}
.postInfos1 {
  float: right;
  display: flex;
  flex-direction: row;
}
.media-body {
  margin-bottom: 7px;
}
.bottomPostInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.text-smallDate {
  font-size: 12px;
  float: right;
}
.postText {
  margin-top: 20px;
  font-size: 15px;
}
