html {
  font-family: "Roboto", sans-serif;
}
body {
  /* background-color: rgb(240, 242, 245); */
  background-color: rgb(243,244,254);
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
.centerCon {
  display: flex;
  justify-content: center;
}

.input-container {
  position: relative;
  margin-bottom: 25px;
  z-index: -1;
}
.input-container label {
  position: absolute;
  top: 1px;
  left: 0px;
  font-size: 16px;
  color: black;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}
.input-container input {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  padding: 8px 0 15px 0;
  font-size: 16px;
  color: grey;
}
.input-container input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid lightblue;
}
.input-container input:focus ~ label,
.input-container input:valid ~ label {
  top: -12px;
  font-size: 12px;
  color: rgb(137, 173, 186);
}

.text-smm {
  font-size: 12px;
}
label {
  padding: 5px;
  background: silver;
  cursor: pointer;
}
label > input[type="file"] {
  display: none;
}
.bodyContentHomeElement{
  margin-top: 4rem;
}
.bodyContentElement {
  margin-top: 6rem;
}